In [1]:
#import needed libraries
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
def complete_zip(zip_code_series):
    #zip_code_series.astype(str)
    
    for zip in zip_code_series:
        if len(zip) == 3:
            zip = '00' + zip  
        elif len(zip) == 4:
            zip = '0' + zip
        else:
            pass
    
    return zip_code_series

In [3]:
def complete_zip2(zip):
    #zip_code_series.astype(str)
        if len(zip) == 3:
            zip = '00' + zip  
        elif len(zip) == 4:
            zip = '0' + zip
        else:
            pass
    
    #return zip_code_series

In [4]:
#pull in data and take a high level look
dataA = pd.read_csv('Data/tasksheetdataa.csv')
dataZ = pd.read_csv('Data/tasksheetdataz.csv')

In [5]:
dataA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fileid    33120 non-null  object
 1   stusab    33120 non-null  object
 2   chariter  33120 non-null  int64
 3   cifsn     33120 non-null  int64
 4   logrecno  33120 non-null  int64
 5   p0010001  33120 non-null  int64
 6   sumlev    33120 non-null  int64
 7   geocomp   33120 non-null  int64
 8   zcta5     33120 non-null  int64
 9   arealand  33120 non-null  int64
 10  areawatr  33120 non-null  int64
 11  name      33120 non-null  object
 12  funcstat  33120 non-null  object
 13  pop100    33120 non-null  int64
 14  hu100     33120 non-null  int64
 15  intptlat  33120 non-null  float64
 16  intptlon  33120 non-null  float64
 17  lsadc     33120 non-null  object
dtypes: float64(2), int64(11), object(5)
memory usage: 4.5+ MB

In [6]:
#dataA['test'] = complete_zip(dataA['zcta5'])

In [7]:
#dataA['test']

In [8]:
#dataA['zcta5'] = dataA['zcta5'].str.zfill(5)

In [9]:
# for zip in dataA['zcta5']:
#     dataA['zcta5'][zip] = complete_zip2(dataA['zcta5'][zip])

In [10]:
# dataA['zcta5'] = dataA['zcta5'].apply(lambda x:complete_zip(x))
# dataA['zcta5']

In [11]:
#dataA.apply(lambda x:complete_zip(x))

In [12]:
dataA['zcta5']

0          601
1          602
2          603
3          606
4          610
         ...
33115    99923
33116    99925
33117    99926
33118    99927
33119    99929
Name: zcta5, Length: 33120, dtype: int64

In [13]:
dataA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33120 entries, 0 to 33119
Data columns (total 18 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   fileid    33120 non-null  object
 1   stusab    33120 non-null  object
 2   chariter  33120 non-null  int64
 3   cifsn     33120 non-null  int64
 4   logrecno  33120 non-null  int64
 5   p0010001  33120 non-null  int64
 6   sumlev    33120 non-null  int64
 7   geocomp   33120 non-null  int64
 8   zcta5     33120 non-null  int64
 9   arealand  33120 non-null  int64
 10  areawatr  33120 non-null  int64
 11  name      33120 non-null  object
 12  funcstat  33120 non-null  object
 13  pop100    33120 non-null  int64
 14  hu100     33120 non-null  int64
 15  intptlat  33120 non-null  float64
 16  intptlon  33120 non-null  float64
 17  lsadc     33120 non-null  object
dtypes: float64(2), int64(11), object(5)
memory usage: 4.5+ MB

In [14]:
dataA.head()

,fileid,stusab,chariter,cifsn,logrecno,p0010001,sumlev,geocomp,zcta5,arealand,areawatr,name,funcstat,pop100,hu100,intptlat,intptlon,lsadc
0,UR1US,US,0,1,479832,18570,860,0,601,166659789,799296,ZCTA5 00601,S,18570,7744,18.180556,-66.749961,Z5
1,UR1US,US,0,1,479836,41520,860,0,602,79288158,4446273,ZCTA5 00602,S,41520,18073,18.362268,-67.176130,Z5
2,UR1US,US,0,1,479839,54689,860,0,603,81880442,183425,ZCTA5 00603,S,54689,25653,18.455183,-67.119887,Z5
3,UR1US,US,0,1,479842,6615,860,0,606,109580061,12487,ZCTA5 00606,S,6615,2877,18.158345,-66.932911,Z5
4,UR1US,US,0,1,479847,29016,860,0,610,93021467,4172001,ZCTA5 00610,S,29016,12618,18.290955,-67.125868,Z5

In [15]:
dataZ.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41469 entries, 0 to 41468
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   country         41469 non-null  object
 1   zip             41469 non-null  int64
 2   city            41469 non-null  object
 3   state           40956 non-null  object
 4   stusab          40958 non-null  object
 5   county          40958 non-null  object
 6   county_fips     40958 non-null  float64
 7   community       1 non-null      object
 8   community_code  1 non-null      float64
 9   latitude        41469 non-null  float64
 10  longitude       41469 non-null  float64
 11  accuracy        40937 non-null  float64
dtypes: float64(5), int64(1), object(6)
memory usage: 3.8+ MB

In [16]:
dataZ.head()

,country,zip,city,state,stusab,county,county_fips,community,community_code,latitude,longitude,accuracy
0,US,99553,Akutan,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.1430,-165.7854,1.0
1,US,99571,Cold Bay,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.1858,-162.7211,1.0
2,US,99583,False Pass,Alaska,AK,Aleutians East,13.0,NaN,NaN,54.8542,-163.4113,1.0
3,US,99612,King Cove,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.0628,-162.3056,1.0
4,US,99661,Sand Point,Alaska,AK,Aleutians East,13.0,NaN,NaN,55.3192,-160.4914,1.0

In [17]:
dataZ[dataZ['zip'] < 1000]

,country,zip,city,state,stusab,county,county_fips,community,community_code,latitude,longitude,accuracy
26775,US,501,Holtsville,New York,NY,Suffolk,103.0,NaN,NaN,40.8154,-73.0451,4.0
26776,US,544,Holtsville,New York,NY,Suffolk,103.0,NaN,NaN,40.8154,-73.0451,4.0

In [18]:
dataA['zcta5'] = dataA['zcta5'].astype(str)
dataZ['zip'] = dataZ['zip'].astype(str)
dataA['zcta5'] = dataA['zcta5'].str.zfill(5)
dataZ['zip'] = dataZ['zip'].str.zfill(5)

In [19]:
# expected_zip_code_length = 5
# pd.Series(["0"] * len(dataA['zcta5']) * (expected_zip_code_length - dataA['zcta5'].str.len()) + dataA['zcta5'])

In [20]:
#dataA['zipA'] = dataA['name'].str[-5:]

In [21]:
#dataZ['zip'] = dataZ['zip'].astype(int)

In [22]:
merged = pd.merge(dataA, dataZ, left_on = 'zcta5', right_on = 'zip', how = 'inner')

In [23]:
merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32974 entries, 0 to 32973
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   fileid          32974 non-null  object
 1   stusab_x        32974 non-null  object
 2   chariter        32974 non-null  int64
 3   cifsn           32974 non-null  int64
 4   logrecno        32974 non-null  int64
 5   p0010001        32974 non-null  int64
 6   sumlev          32974 non-null  int64
 7   geocomp         32974 non-null  int64
 8   zcta5           32974 non-null  object
 9   arealand        32974 non-null  int64
 10  areawatr        32974 non-null  int64
 11  name            32974 non-null  object
 12  funcstat        32974 non-null  object
 13  pop100          32974 non-null  int64
 14  hu100           32974 non-null  int64
 15  intptlat        32974 non-null  float64
 16  intptlon        32974 non-null  float64
 17  lsadc           32974 non-null  object
 18  country         32974 non-null  object
 19  zip             32974 non-null  object
 20  city            32974 non-null  object
 21  state           32972 non-null  object
 22  stusab_y        32972 non-null  object
 23  county          32972 non-null  object
 24  county_fips     32972 non-null  float64
 25  community       1 non-null      object
 26  community_code  1 non-null      float64
 27  latitude        32974 non-null  float64
 28  longitude       32974 non-null  float64
 29  accuracy        32974 non-null  float64
dtypes: float64(7), int64(10), object(13)
memory usage: 7.8+ MB

In [24]:
#a - Texas is the state with the most 5 digit zip codes (1,935)
merged['state'].value_counts().sort_values(ascending=False)

Texas                   1935
Pennsylvania            1795
New York                1794
California              1761
Illinois                1383
Ohio                    1195
Missouri                1023
Michigan                 986
Florida                  983
Iowa                     934
Virginia                 896
Minnesota                884
North Carolina           808
Indiana                  775
Wisconsin                774
Kentucky                 767
Georgia                  735
West Virginia            706
Kansas                   697
Oklahoma                 648
Alabama                  642
Tennessee                628
Washington               596
New Jersey               595
Arkansas                 591
Nebraska                 581
Massachusetts            537
Colorado                 525
Louisiana                515
Maryland                 468
Maine                    432
South Carolina           424
Mississippi              423
Oregon                   417
Arizona                  405
North Dakota             383
South Dakota             371
New Mexico               368
Montana                  361
Utah                     287
Connecticut              282
Idaho                    278
Vermont                  255
New Hampshire            248
Alaska                   238
Wyoming                  178
Nevada                   175
Hawaii                    94
Rhode Island              77
Delaware                  67
District of Columbia      52
Name: state, dtype: int64

In [25]:
#Used to test for change in latitude/longitude values
merged[merged['state'] == 'Alaska'].head(1)
merged[merged['state'] == 'Minnesota'].head(1)
merged[merged['state'] == 'Texas'].head(1)
merged[merged['state'] == 'Oregon'].head(1)

,fileid,stusab_x,chariter,cifsn,logrecno,p0010001,sumlev,geocomp,zcta5,arealand,...,city,state,stusab_y,county,county_fips,community,community_code,latitude,longitude,accuracy
31723,UR1US,US,0,1,586622,229,860,0,97001,770309402,...,Antelope,Oregon,OR,Wasco,65.0,NaN,NaN,44.8892,-120.7914,4.0

In [26]:
#b(i) - 04631 is the most easterly zip
merged[merged['longitude']== merged['longitude'].max()]

,fileid,stusab_x,chariter,cifsn,logrecno,p0010001,sumlev,geocomp,zcta5,arealand,...,city,state,stusab_y,county,county_fips,community,community_code,latitude,longitude,accuracy
1129,UR1US,US,0,1,483733,1331,860,0,04631,9455354,...,Eastport,Maine,ME,Washington,29.0,NaN,NaN,44.92,-67.0074,4.0

In [27]:
merged_no_AK = merged[merged['state'] != 'Alaska']

In [28]:
#b(ii) - 96769 is the most westerly zip (excluding Alaska)
merged_no_AK[merged['longitude']== merged_no_AK['longitude'].min()]

C:\Users\sushi\AppData\Local\Temp\ipykernel_25284\4108101248.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merged_no_AK[merged['longitude']== merged_no_AK['longitude'].min()]

,fileid,stusab_x,chariter,cifsn,logrecno,p0010001,sumlev,geocomp,zcta5,arealand,...,city,state,stusab_y,county,county_fips,community,community_code,latitude,longitude,accuracy
31680,UR1US,US,0,1,586499,464,860,0,96769,193525234,...,Makaweli,Hawaii,HI,Kauai,7.0,NaN,NaN,21.9454,-159.9214,1.0

In [29]:
#b(iii) - 56711 is the most northerly zip (excluding Alaska)
merged_no_AK[merged['latitude']== merged_no_AK['latitude'].max()]

C:\Users\sushi\AppData\Local\Temp\ipykernel_25284\4177695584.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  merged_no_AK[merged['latitude']== merged_no_AK['latitude'].max()]

,fileid,stusab_x,chariter,cifsn,logrecno,p0010001,sumlev,geocomp,zcta5,arealand,...,city,state,stusab_y,county,county_fips,community,community_code,latitude,longitude,accuracy
19123,UR1US,US,0,1,544425,96,860,0,56711,48964391,...,Angle Inlet,Minnesota,MN,Lake of the Woods,77.0,NaN,NaN,49.3453,-95.0627,4.0

In [30]:
merged_has_population = merged[merged['p0010001'] > 0]

In [31]:
merged_has_population['land per person'] = merged_has_population['arealand'] / merged_has_population['p0010001']

C:\Users\sushi\AppData\Local\Temp\ipykernel_25284\808608420.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  merged_has_population['land per person'] = merged_has_population['arealand'] / merged_has_population['p0010001']

In [32]:
#c Zip code 20052 has the highest population density at only 15 land units per person on average
merged_has_population[merged_has_population['land per person']== merged_has_population['land per person'].min()]

,fileid,stusab_x,chariter,cifsn,logrecno,p0010001,sumlev,geocomp,zcta5,arealand,...,state,stusab_y,county,county_fips,community,community_code,latitude,longitude,accuracy,land per person
6105,UR1US,US,0,1,499507,470,860,0,20052,7062,...,District of Columbia,DC,District of Columbia,1.0,NaN,NaN,38.9001,-77.0479,4.0,15.025532